.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  table {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    
  }
  
  td {
    width: 90px;
    height: 90px;

    text-align: center;
    vertical-align: middle;
    border: 5px solid #000;
    
    background-color: #0f0f0f;
    cursor: pointer;

    transition: all ease-in-out 0.2s;

    &:hover{
      background-color: #181818;
    }

    p{
      color: rgb(255, 255, 255);
      font-size: 24px;
      display: inline-flex;
      border-radius: 10px;
    }
  }
  
  .winner {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }

  .reset-button{
    margin-top: 30px;
  }
